.chat-main
  = render partial: 'main_chat', collection: @messages

  .chat-main__header
    .chat-main__header_left
      .chat-main__header_left_group
        test
      .chat-main__header_left_menber
        menber:masa
    .chat-main__header_right
      = link_to "#" do
        %font{:color => "38aef0"} Edit
  .chat-main__message
    .chat-main__message_list
      .chat-main__message_list_data
        .chat-main__massage_list_data_menber
          = message.user.name
        .chat-main__message_list_data_date
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .chat-main__message_list_form
        - if message.content.present?
          %p.chat-main__message_list_form_content
            = message.content
        = image_tag message.image.url, class: 'chat-main__message_list_form_image' if message.image.present?

  .chat-main__footer
    .chat-main__footer_group
      .chat-main__foote_group_form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'chat-main__footer_group_form＿text', placeholder: 'type a message' 
          = f.label :image, class: 'chat-main__footer_group_form_picture' do
            = icon('fas', 'image', class: 'image-icon') 
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'chat-main__footer_group_form_btn' 