.side-bar
  .side-bar__header
    .side-bar__header_textbox
      .side-bar__header_textbox_left
        = current_user.name
    .side-bar__header_textbox_right
      .side-bar__header_textbox_new
        = link_to new_group_path do
          %i.fas.fa-edit.icon-new
      .side-bar__header_textbox_edit
        = link_to edit_user_path(current_user) do
          = icon('fas','cog', class: 'icon-edit')
  .side-bar__group
    - current_user.groups.each do |group|
      .side-bar__group_set
        = link_to group_messages_path(group) do
          .side-bar__group_set_name
            = group.name
          .side-bar__group_set_text
            = group.show_last_message